@charset "UTF-8";

/* 共通 */
html{
  scroll-behavior: smooth;
}
body {
  overflow-x: auto; /* 横スクロールバーを有効化 */
  overflow-y: hidden; /* 縦スクロールは無効化 */
  background-color: #f5f4e9;
}
.wrapper {
  display: flex;
  overscroll-behavior: none;
  width: 500%; /* 各セクションの合計幅を指定 */
  height: 100vh;
  overflow: hidden;
}
section{
  flex: 1 0 100vw; /* 各セクションをビューポート幅に */
  position: relative;
  height: 100vh; /* 各セクションの高さをビューポートに */
  padding: 140px 0 100px 0;
}


/* header */
.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  position: fixed;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 10px;
  width: 100vw;
  z-index: 2;
}
.header__inner p{
  width: 80px;
  font-size: 24px;
}
.header__nav{
  gap: 80px;
}
.header__nav-sp{
  display: none;
}
.sns{
  display: flex;
  gap: 80px;
}
.sns div{
  width: 30px;
  height: auto;
}

/* header-btn */
.btn-loading {
  display: inline-block;
  opacity: 1 !important;
  position: relative;
  width: 130px;
  height: 66px;
  overflow: hidden;
  border-radius: 100%;
  color: #493c33;
  font-size: 16px;
  line-height: 66px;
  text-decoration: none;
  text-align: center;
  transition: all .8s ease;
}
.btn-loading a:hover {
  color: #493c33;
}
.btn-loading a:hover:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border: 2px solid transparent; /* 初期は透明 */
  border-top-color: #da3832; /* 初期の一部の色 */
  border-radius: 50%;
  content: "";
  animation: border-spin 2s linear infinite; /* ホバー時のアニメーション */
}
@keyframes border-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: #da3832 transparent transparent transparent;
  }
  25% {
    border-color: #da3832 #da3832 transparent transparent;
  }
  50% {
    border-color: #da3832 #da3832 #da3832 transparent;
  }
  75% {
    border-color: #da3832 #da3832 #da3832 #da3832;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #da3832 #da3832 #da3832 #da3832;
  }
}
.header__nav ul{
  display: flex;
  gap: 80px;
  font-size: 16px;
}

/* 「ツナグデザイン」配置 */
.site-title {
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-bottom: 3vh;
  padding-left: 2vw;
}
.site-title .title {
  margin: 0;
  font-size: 48px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6N L","FOT-筑紫オールド明朝 Pro R", "TsukuOldMinPro-R", serif;

  writing-mode: vertical-rl;
}

/* mainvisual */
.mainvisual {
  position: relative;
}
.top_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  margin: 0 auto;
  content: "";
}
.title_image {
  display: flex;
}

/* スクロールバー */
.toppage_common-navi_controller {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: var(--layout-position-right);
  bottom: 20px;
  z-index: 60;
  width: 100vw;
  min-height: 2.75rem;
  padding-right: 5vw;
  gap: 8rem;
}
.common-page>span {
    display: block;
}
.common-navi_scrollbar{
  display: flex;
  gap: 80px;
}

.common-scrollbar_input {
  --size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: #493c33;
  height: 2px;
  width: 400px;
  margin-left: 2px;
  border-radius: 0;
  border: 0;
}
/* スライダーのthumb（丸）のスタイルを変更 */
input[type="range"]::-webkit-slider-thumb {
  width: 16px; /* thumbの幅 */
  height: 16px; /* thumbの高さ */
  border: 2px solid #493c33; /* thumbの外枠の色 */
  border-radius: 50%; /* 丸形にする */
  background: #fcfbf5; /* ここで色を変更（赤に変更した例） */
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}
.common-page{
  display: flex;
}
.work_common-navi_copyright{
  transform: rotate(90deg);
}

/* profile */
h2{
  font-size: 4vw;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_photo{
  max-width: 45%;
  height: auto;
  padding: 0 90px;
}

.profile_sentence{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_name{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.profile_name .name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.designer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_sentence span{
    font-size: 48px;
    padding: 0 50px;
}
.profile_name p{
    font-size: 24px;
}
.sentence{
    font-size: 16px;
    line-height: 1.5;
}
.profile .button{
  display:inline-block;
  margin:50px 0 25px;
  padding: 0 120px;
  line-height:69px;
  background:#fcfbf5;
  border: 2px solid #493c33;
  color:#493c33;
  border-radius:34px;
  text-decoration:none;
  text-align:center;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-duration: .8s;
  -webkit-transition-duration: .8s;
}
.profile .button:hover {
  opacity: .5;
  }
.button span{
  font-size: 16px;
}

/* work */
.work {
  padding: 100px 5vw;
}
.work__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1210px;
  margin: 0 auto;
  row-gap: 55px;
}
.onimg{
  position: relative;
  width: 29%;
  max-width: 350px;
}
.onimg .cursor{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: auto;
  margin: 0;
  margin: auto;
  background-color: transparent;
          transition-property: opacity;
          transition-duration: .8s;

  -webkit-transition-duration: .8s;
  -webkit-transition-property: opacity;
}
.onimg:hover .cursor{
  opacity: 1;
}
.onimg:hover img{
  opacity: 0.8;
}

/* skill */
.skill {
  position: relative;
}
.skill__inner {
  display: flex;
  align-items: center;
  position: relative;
  transform: translate(-5vw, -140px);
  max-width: 775px;
  height: 100vh;
  margin: 0 auto;
}
.skill_box {
  height: 100vh;
}
.skill_box ul {
  width: 100%;
}
.skill_box li > div {
  position: relative;
  width: 100%;
  max-width: 730px;
  margin-bottom: 40px;
  padding: 30px 0;
  border: 2px solid #493c33;
  border-radius: 12px;
  background-color: #fcfbf5;
}
.skill_box li > div::before {
  position: absolute;
  right: -30px;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}
.skill_box .box1::before {
  background-image: url(../images/line_graphic.png);
}
.skill_box .box2::before {
  background-image: url(../images/line_graphic.png);
}
.skill_box .box3::before {
  background-image: url(../images/line_tool.png);
}
.skill_box li > div > p {
  max-width: 605px;
  margin: 0 auto;
  font-size: 24px;
}
.skill li {
  display: flex;
  align-items: center;
}
.subtitle {
  font-weight: bold;
  font-size: 24px;

  writing-mode: vertical-rl;
}
.skill_box {
  position: relative;
  background-color: transparent;
}
.tool__inner {
  display: flex;
  justify-content: space-between;
  max-width: 605px;
  margin: 0 auto;
}
.postscript {
  position: absolute;
  right: -200px;
  bottom: 130px;
  font-size: 24px;

  writing-mode: vertical-rl;
}
.coffee_postscript {
  display: flex;
  flex-flow: column;
}
.sax {
  position: absolute;
  bottom: 12rem;
  left: 0;
  max-width: 225px;
  height: auto;
  padding-right: 60px;
}
.coffee {
  position: absolute;
  top: -3rem;
  right: 0;
  max-width: 156px;
  height: auto;
}

/* contact */
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-left: 100px;
}
.c-form__label{
  padding-top: 25px;
  padding-left: 20px;
}
#field-name{
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3",serif;
  color: #cccccc;
}
#field-mail{
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3",serif;
  color: #cccccc;
}
#field-message{
  width: 100%;
  height: 210px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3",serif;
  color: #cccccc;
}
.c-form__item{
  display: flex;
  flex-direction: column;
}
.attention{
  padding: 35px 20px;
}
.after-sending{
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.c-form__submit{
  text-align: center;
}
.c-form__submit button {
  display: inline-block;
  padding: 22px 150px;
  border: 2px solid #493c33;
  border-radius: 40px;
  background-color: #fcfbf5;
  font-size: 16px;
  text-align: center;
}
/* 送信後メッセージを出す */
.after-sending p{
  writing-mode: vertical-rl;
  font-size: 24px;
}
.after-sending img{
  max-width: 420px;
  height: auto;
  padding: 0 60px;
}
.display{
  display: none;
}

@media screen and (max-width:767px){
  body{
    overflow-x: hidden; /* 横スクロールバーを無効化 */
    overflow-y: auto; /* 縦スクロールは有効化 */
    background-color: #f5f4e9;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .header__nav{
    display: none;
  }
  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 9999;
}
  .hamburger span{
    width: 20px;
    height: 2px;
    background-color: #493c33;
    position: absolute;
    top: 15px;
    margin: 0;
    border-radius: 3px;
}
  .hamburger span::before{
    width: 30px;
    height: 2px;
    background-color: #493c33;
    border-radius: 3px;
    position: absolute;
    content: "";
    top: -12px;
    transition: .3s;
}
  .open span{
    transform: rotate(-45deg);
    bottom: 0;
}
  .open span::before{
    transform: rotate(45deg);
        top: 0;
}
  .header__nav-sp{
    position: absolute;
    width: 50%;
    height: 60vh;
    border-radius: 47% 43% 65% 65% / 38% 69% 51% 52% ;
    background-color: #da3832;
    opacity: 0.5;
    margin-top: -70px;
    margin-left: 500px;
}
  .header__nav-sp ul{
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 100px;
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 10px;

    .toppage_common-navi_controller{
      display:flex;
      flex-direction:column;
      position: fixed;
      align-items: center;
      bottom: 5rem;
      right: 1px;
      gap: 8rem;
    }
    .common-navi_scrollbar{
      display: flex;
      transform: rotate(90deg);
      gap: 75px;
    }
    .common-page>span {
      display: block;
    }
    .common-scrollbar_input{
      --size: 1rem;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      background: #493c33;
      height: 2px;
      width: 300px;
      margin-left: 2px;
      border-radius: 0;
      border: 0;
    }
    .sns{
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-top: 75px;
    }
    
}
.header__nav-sp li{
  color: #f5f4e9;
  font-size: 16px;
  border-bottom: 1px solid #f5f4e9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.site-title {
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-bottom: 3vh;
  padding-left: 2vw;
}
.site-title .title {
  margin: 0;
  font-size: 26px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6N L","FOT-筑紫オールド明朝 Pro R", "TsukuOldMinPro-R", serif;

  writing-mode: horizontal-tb;
}
}

/* workページ */
.work-body{
  overflow-x: hidden; /* 横スクロールバーを無効化 */
  overflow-y: auto; /* 縦スクロールは有効化 */
  background-color: #f5f4e9;
  padding-bottom: 3vh;
}
.work_common-navi_controller {
  display:flex;
  flex-direction:column;
  position: fixed;
  align-items: center;
  bottom: 5rem;
  right: 0;
  gap: 8rem;
}
.work_common-navi_scrollbar{
  display: flex;
  transform: rotate(90deg);
  gap: 75px;
}
.work_common-page>span {
  display: block;
}
.work_common-scrollbar_input{
  --size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: #493c33;
  height: 2px;
  width: 300px;
  margin-left: 2px;
  border-radius: 0;
  border: 0;
}
.work_sns{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 75px;
}
.work_section{
  display: flex;
  max-width: 1000px;
  padding-top: 257px;
  margin: 0 auto;
}

h3{
  font-size: 24px;
  position: relative;
}
h3:before{
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  bottom: -10px;
  left: 3%;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #493c33;
}
.work_text{
  display: inline-block;
  position: fixed;
  top: 300px;
  left: 12%;
  padding-right: 100px;
}
.work_text p{
  font-size: 16px;
  padding-top: 24px;
}
.work_image{
  position: relative;
  top: -140px;
  width: 35%;
  margin-right: 15%;
  margin-left: auto;
}
.work_image .first{
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 30px;
  padding: 70px 80px;
  margin-bottom: 100px;
}
.work_image .second{
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 30px;
  padding: 70px 80px;
}